@import "normalize.css";

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

:root {
  --color-grey-950: rgba(18, 18, 18, 1);
  --color-grey-500: rgba(107, 107, 107, 1);
  --color-yellow: rgba(244, 208, 78, 1);
  --color-white: rgba(255, 255, 255, 1);

  --font-size-lg: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
  --font-size-md: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  --font-size-sm: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);
  --font-size-fixed-sm: 0.875rem;
  --font-size-fixed-xsm: 0.6875rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Figtree", "Arial", sans-serif;
  font-weight: 500;
  font-size: var(--font-size-md);
  line-height: 1.5;
  background-color: var(--color-yellow);
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

.cards {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 384px;
  padding: 24px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-950);
  border-radius: 20px;
  box-shadow: 8px 8px var(--color-grey-950);
}

.card__image {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card__date {
  margin: 0;
  font-size: var(--font-size-sm);
}

.card__category {
  align-self: flex-start;
  padding: 4px 12px;
  font-size: var(--font-size-sm);
  background-color: var(--color-yellow);
  border-radius: 4px;
  font-weight: 800;
}

.card__title {
  margin: 0;
  font-size: var(--font-size-lg);
}

.card__title-link {
  color: var(--color-grey-950);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.card__title-link:hover {
  color: var(--color-yellow);
}

.card__title-link:focus-visible {
  color: var(--color-yellow);
  outline: 2px solid var(--color-yellow);
  outline-offset: 6px;
  border-radius: 3px;
}

.card__text {
  margin: 0;
  color: var(--color-grey-500);
}

.card__author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.card__author-avatar {
  width: 32px;
  height: 32px;
}

.card__author-name {
  font-weight: 800;
  font-size: var(--font-size-fixed-sm);
}

.attribution {
  padding: 48px 0;
  font-size: var(--font-size-fixed-xsm);
  text-align: center;
}

.attribution__link {
  color: var(--color-grey-500);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.attribution__link:hover {
  color: var(--color-white);
}

.attribution__link:focus-visible {
  color: var(--color-white);
  outline: 2px solid var(--color-white);
  border-radius: 2px;
}
